button {
  background-color: transparent;
  border: none;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 80px;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
}

#logo {
  height: 64px;
  cursor: pointer;
}

#little-search {
  display: flex;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 40px;
  height: 48px;
  box-sizing: border-box;
  min-width: 330px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  cursor: pointer;
}

#little-search:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

#little-search * {
  cursor: pointer;
}

.little-search-button {
  display: block;
  flex-shrink: 0;
  padding: 0 16px; /* 상하 좌우 */
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.little-search-button:nth-of-type(3) {
  color: #717171;
}

.divider {
  display: block;
  flex-basis: 1px;
  flex-shrink: 0;
  height: 24px;
  background-color: #dddddd;
}

#magnifying-glass-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 32px;
  flex-shrink: 0;
  height: 32px;
  background-color: #ff385c;
  border-radius: 50%;
}

#magnifying-glass-icon {
  width: 12px;
}

#header-right-section {
  display: flex;
  gap: 8px;
}

#do-airbnb {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 14px;
  color: #222222;
  font-weight: 600;
  cursor: pointer;
  border-radius: 22px;
}

#do-airbnb:hover {
  background-color: #f7f7f7;
}

#profile-section {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 12px;
  border: 1px solid #dddddd;
  border-radius: 21px;
  gap: 12px;
  cursor: pointer;
}

#profile-section:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

/* category bar */

#category-bar {
  display: flex;
  padding: 20px 40px 0;
  gap: 32px;
  overflow: auto;
}

#category-bar::-webkit-scrollbar {
  display: none;
}

.active-img {
  display: none;
}

.category-button {
  color: #717171;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.category-button img {
  width: 28px;
}

.category-button:hover {
  color: #000000;
  border-bottom: 2px solid #dddddd;
}

.category-button:hover .active-img {
  display: inline-block;
}

.category-button:hover .inactive-img {
  display: none;
}

#active-category-button {
  color: #000000;
  border-bottom: 2px solid #000000;
}

#active-category-button .active-img {
  display: inline-block;
}

#active-category-button .inactive-img {
  display: none;
}

.place-image-wrapper {
  position: relative;
  width: 308px;
  height: 293px;
  border-radius: 23px;
  overflow: hidden;
}

.place-image-wrapper img {
  width: 500px;
  height: 500px;
}

.place-image-wrapper .heart-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.description-section {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: rgb(34, 34, 34);
  gap: 3px;
}

.description-section-title {
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
  padding: 24px 80px;
}

#place-items-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 308px);
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  gap: 40px 24px;
}

.heart-icon:active {
  transform: scale(0.5);
  transition: transform 0.25 ease;
}

#floating-map-button {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 14px 19px;
  left: 50%;
  bottom: 25px;
  background-color: #dddddd;
  border-radius: 24px;
  transform: translateX(-50%);
  color: black;
  font-size: 14px;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
}

#floating-map-button:hover {
  transform: translateX(-50%) scale(1.03);
}
